
<div class="text-center">
    
    <h1 class="display-4">@Html.SmartLocalize("Welcome to GCTL Dashboard raw")</h1>
    <p>@Html.SmartLocalize("Empowering businesses with smart, scalable, and seamless ERP solutions. raw") 🚀</p>
</div>