@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-4">
    <div class="row">
        <!-- lang/index Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    lang/index
                </div>
                <div class="card-body">
                    <h5 class="card-title">Language Normal Index</h5>
                    <p class="card-text">This card represents the main index for language selection and settings.</p>
                    <a href="NormalWay/index" class="btn btn-primary">Go to Index</a>
                </div>
            </div>
        </div>

        <!-- lang32/index Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    lang32/index
                </div>
                <div class="card-body">
                    <h5 class="card-title">Language Smart Index</h5>
                    <p class="card-text">This card represents a different set of language configurations.</p>
                    <a href="SmartWay/index" class="btn btn-secondary">Go to Index </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- lang/index Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    lang/index
                </div>
                <div class="card-body">
                    <h5 class="card-title">Language Index</h5>
                    <p class="card-text">This card represents the main index for language selection and settings.</p>
                    <a href="Language/index" class="btn btn-primary">Go to Index</a>
                </div>
            </div>
        </div>

        <!-- lang32/index Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    lang32/index
                </div>
                <div class="card-body">
                    <h5 class="card-title">Language Install Index</h5>
                    <p class="card-text">This card represents a different set of language configurations.</p>
                    <a href="Language/TranslateToMultipleInd" class="btn btn-secondary">Go to Index </a>
                </div>
            </div>
        </div>
    </div>


</div>

