<div class="text-center">
    <h1 class="display-4">@Html.Translate("Welcome to GCTL Dashboard New", "612000")</h1>
    <p>
        @Html.Translate("Empowering businesses with smart, scalable, and seamless ERP solutions. New", "612001") 🚀
    </p>
</div>